body {
    background-color: #214;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .card {
    width: 30rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #125;
    border-radius: 20px;
    font-size: 1.5em;
}

.card>div {
    text-align: center;
    width: 97%;
    background-color: #111;
    padding: 10px 0;
}